/*------------------------------------*\
#FONTS
\*------------------------------------*/

@font-face {
	font-family: 'futura-pt';
	font-weight: 400;
	src: url('../assets/fonts/FuturaPTBook.otf') format('otf');
	font-display: swap;
}

@font-face {
	font-family: 'futura-pt';
	font-weight: 500;
	src: url('../assets/fonts/FuturaPTMedium.otf') format('otf');
	font-display: swap;
}

@font-face {
	font-family: 'futura-pt';
	font-weight: 700;
	src: url('../assets/fonts/FuturaPTHeavy.otf') format('otf');
	font-display: swap;
}

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
	/* colors */

	--color-alpha-light-x: #ffffff;
	--color-alpha-light: #c7c7c7;
	--color-alpha: #808080;
	--color-alpha-dark: #444444;
	--color-alpha-x-dark: #000000;

	--color-subtitle: #5c5c5c;

	--color-neutral-light: var(--color-alpha-light);
	--color-neutral-dark: var(--color-alpha-x-dark);

	--global-color-alpha-x-transparent: #ffffff4d;
	--global-color-error-x-transparent: #ff33334d;

	/* Font weights */
	--global-default-weight: 400;

	/* Shadows */
	--shadow-neutral: 0 2px 6px rgba(0, 0, 0, 0.04);
	--shadow-box: 0 3px 6px rgba(0, 0, 0, 0.2);

	/* border radius */
	--global-borderRadius: 3px;
	--global-borderWidth: 1px;

	/* transitions */
	--global-transitionEasing-out: ease-out;
	--global-transitionEasing-out-cubic: cubic-bezier(0.22, 0.61, 0.36, 1);
	--global-transitionDuration-alpha: 0.1s;
	--global-transitionDuration-beta: 0.2s;
	--global-transitionDuration-gamma: 0.3s;

	/* Grid System */

	--global-baseline: 8px;
	--global-whitespace: calc(var(--global-baseline) * 3);

	--global-whitespace-xs: calc(var(--global-baseline) * 0.5);
	--global-whitespace-sm: calc(var(--global-baseline) * 1);
	--global-whitespace-md: calc(var(--global-baseline) * 2);
	--global-whitespace-lg: calc(var(--global-baseline) * 4);
	--global-whitespace-xl: calc(var(--global-whitespace) * 2);
	--global-whitespace-xxl: calc(var(--global-whitespace) * 3);

	--layout-header-height: calc(var(--global-baseline) * 5);

	--global-input-focus-boxShadowSpread: 0 0 0 3px;
	--global-input-focus-boxShadowColor: var(--global-color-alpha-x-transparent);
	--global-input-error-boxShadowColor: var(--global-color-error-x-transparent);

	--color-input-alpha-x-light: #81b4e7;
	--color-input-alpha: #5398de;
	--color-input-alpha-x-dark: #447db6;
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
	font-size: 16px;
	font-weight: var(--global-default-weight);
	line-height: 1.5;
	font-family: 'futura-pt', sans-serif;
	color: var(--color-neutral-dark);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--color-alpha-light-x);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
	background: var(--color-alpha);
	color: white;
	text-shadow: none;
}

::selection {
	background: var(--color-alpha);
	color: white;
	text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
	max-width: 100%;
	vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
	font-weight: 700;
}

h1 {
	font-size: 36px;
	line-height: 48px;
	margin: 0 0 24px;
}

h2 {
	font-size: 32px;
	line-height: 40px;
	margin: 0 0 24px;
}

h3 {
	font-size: 26px;
	line-height: 32px;
	margin: 0 0 24px;
}

h4,
h5,
h6 {
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
	margin: 0 0 24px;
}

ul,
ol {
	padding-left: 24px;
}

li ul,
li ol {
	margin-bottom: 0;
}

blockquote {
	font-style: normal;
	font-size: 23px;
	line-height: 32px;
	margin: 0 0 24px;
}

blockquote * {
	font-size: inherit;
	line-height: inherit;
}

figcaption {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	margin-top: 8px;
}

hr {
	border: 0;
	height: 1px;
	background: LightGrey;
	margin: 0 0 24px;
}

a {
	transition: all var(--global-transitionDuration-alpha);
	color: var(--color-input-alpha);
	outline-color: var(--color-alpha);
	outline-width: medium;
	outline-offset: 2px;
}

a:visited,
a:active {
	color: var(--color-input-alpha-x-light);
}

a:hover,
a:focus {
	color: var(--color-input-alpha-x-light);
}

label,
input {
	display: block;
}

select {
	width: 100%;
}

input::placeholder {
	color: var(--color-neutral-light);
}

span {
	font-weight: 700;
	font-size: 20px;
}
/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
	position: relative;
	padding: 24px 24px 0;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 79.5em; /* 79.5 * 16px = 1272 */
	width: 100%;
}

.o-container__app {
	max-width: 30em;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
	list-style: none;
	padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	background: transparent;

	/* inherit font & color from ancestor */
	color: inherit;
	font: inherit;

	/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal;

	/* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;

	/* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	background: transparent;

	/* inherit font & color from ancestor */
	color: inherit;
	font: inherit;

	/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal;

	/* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;

	/* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

.c-app {
	height: 100vh;
	grid-template-rows: auto 1fr;
}

.c-app__header {
	background-color: var(--color-neutral-x-light);
	display: none;
	box-shadow: var(--shadow-neutral);
	z-index: 1;
}

.c-app__container {
	margin: auto;
}

.c-app__grid {
	display: grid;
	grid-gap: calc(var(--global-baseline) * 5);
	justify-items: center;
}

.c-header__main {
	text-align: left;
	font-size: 40px;
}

.c-header__title {
	font-size: 24px;
	font-weight: 500;
	color: var(--color-subtitle);
}

.c-app__top {
	padding-top: 0;
}

.c-app__card {
	height: 312px;
	width: 240px;
	box-shadow: var(--shadow-box);
	padding: var(--global-whitespace-md);
}

.c-card__title {
	font-weight: 500;
	font-size: 24px;
}

.c-card__price {
	font-weight: 400;
	color: var(--color-alpha-dark);
}

.c-card__percentage {
	margin-left: var(--global-whitespace-sm);
}

.c-card__label--price {
	display: flex;
	flex-direction: row;
}

@media screen and (min-width: 992px) {
	.c-app__grid {
		grid-template-columns: repeat(6, 1fr);
	}

	.c-main__item {
		grid-column: span 6;
	}
}

.c-main__item {
	background-color: #fff;
	padding: calc(var(--global-baseline) * 5);
	width: 100%;
	display: flex;
}

.c-brand {
	font-size: 56px;
	font-weight: 700;
	padding: 0 calc(var(--global-baseline) * 8);
}

.c-image {
	height: 80%;
	width: 80%;
}

@media screen and (min-width: 960px) {
	.c-app {
		display: grid;
	}

	.c-app__header {
		display: block;
	}

	.c-app__main {
		overflow-y: auto;
		overflow-x: hidden;
	}
}

.c-main__top {
	padding-top: 0;
}

.c-main__left {
	display: flex;
	align-items: center;
	text-align: right;
}

.c-main__right {
	display: flex;
	align-items: center;
	text-align: left;
}

.c-main__center {
	padding-top: 0;
}

.c-main__bottom {
	padding-top: 0;
}

.c-main__info {
	padding: var(--global-whitespace-sm) 0;
}

.c-item {
	margin: auto;
}

.c-item__image {
	display: flex;
	justify-content: center;
}

.c-item__formfield {
	width: 80%;
	margin: auto;
}

.c-form {
	display: flex;
	flex-direction: column;
}

.c-footer__center {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: var(--global-whitespace-lg);
}

.c-item__title--main {
	font-size: 40px;
}

.c-item__title--center {
	text-align: center;
}

.c-image__soon {
	width: 50%;
	height: 50%;
}

.c-form-field {
	position: relative;
}

.is-floating,
.c-form-field:focus-within .c-label--floating {
	transform: translateY(calc(var(--global-baseline) * -3));
}

.c-label {
	margin-bottom: 0;
	font-size: 14px;
	padding-bottom: var(--global-whitespace-sm);
	line-height: calc(var(--global-baseline) * 2);
	color: var(--color-alpha);
}

.c-label--floating {
	position: absolute;
	top: calc(var(--global-baseline) * 2);
	left: var(--global-whitespace-sm);
	padding: 0 var(--global-whitespace-sm);
	background-color: var(--color-alpha-light-x);
	transition: transform var(--global-transitionDuration-alpha) var(--global-transitionEasing-out);
	z-index: 1;
	color: var(--color-alpha-x-dark);
}

.c-input {
	--input-transition: all var(--global-transitionDuration-alpha) var(--global-transitionEasing-out);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	border-radius: var(--global-borderRadius);
	border: var(--global-borderWidth) solid var(--color-alpha-x-dark);
	background-color: var(--color-alpha-light-x);
	color: var(--color-alpha-x-dark);
	font-family: inherit;
	font-size: 16px;
	line-height: calc(var(--global-baseline) * 3);
	padding: calc(var(--global-baseline) * 1.5 - var(--global-borderWidth)) var(--global-whitespace-md);
	outline: none;
	transition: var(--input-transition);
}

.c-input:hover {
	border-color: var(--color-alpha-x-dark);
}

.c-input:focus,
.c-input:active {
	border-color: var(--color-alpha-x-dark);
	box-shadow: var(--global-input-focus-boxShadowSpread) var(--global-input-focus-boxShadowColor);
}

.c-input--with-floating-label:focus {
	box-shadow: 0 0 0 1px var(--global-input-focus-borderColor);
}

/*
    Component: Button
    ---
    Class to put on form buttons or
*/

.c-button {
	font-size: 16px;
	font-weight: 600;
	border-radius: var(--global-borderRadius);
	border: var(--global-borderWidth) solid var(--color-input-alpha-x-dark);
	background-color: var(--color-input-alpha);
	color: #fff;
	padding: calc(var(--global-baseline) * 1.5 - var(--global-borderWidth)) var(--global-whitespace-md);
	line-height: calc(var(--global-baseline) * 3);
	width: 25%;
	outline: none;
	box-shadow: var(--global-input-focus-boxShadowSpread) var(--color-alpha-x-light);
	transition: all var(--global-transitionDuration-alpha) var(--global-transitionEasing-out);
	align-self: flex-end;
}

.c-button:hover {
	border-color: var(--color-input-alpha);
	background-color: var(--color-input-alpha-x-dark);
	box-shadow: var(--global-input-focus-boxShadowSpread) var(--color-input-alpha-x-light);
}

.c-button:focus {
	background-color: var(--color-input-alpha);
	border-color: var(--color-input-alpha-x-dark);
	box-shadow: var(--global-input-focus-boxShadowSpread) var(--color-input-alpha-x-light);
}

.c-button:active {
	background-color: var(--color-input-alpha-x-dark);
	border-color: var(--color-input-alpha-x-dark);
	box-shadow: var(--global-input-focus-boxShadowSpread) var(--color-input-alpha-x-light);
}

.c-info {
	margin: auto;
}

.c-item__info {
	display: flex;
	flex-direction: row;
}

.c-info__text {
	margin: 0 auto;
	font-weight: 500;
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: grid
    ---
    Utility classes to put specefic grid size onto elements
*/

@media (min-width: 992px) {
	.u-x-span-1-bp3 {
		grid-column: span 1;
	}

	.u-x-span-2-bp3 {
		grid-column: span 2;
	}

	.u-x-span-3-bp3 {
		grid-column: span 3;
	}

	.u-x-span-4-bp3 {
		grid-column: span 4;
	}

	.u-x-span-5-bp3 {
		grid-column: span 5;
	}

	.u-x-span-6-bp3 {
		grid-column: span 6;
	}
}

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral {
	color: var(--color-neutral);
}

.u-color-neutral-dark {
	color: var(--color-neutral-dark);
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
	padding-top: 0 !important;
}

.u-mb-clear {
	margin-bottom: 0 !important;
}

.u-mb-xs {
	margin-bottom: 4px !important;
}

.u-mb-sm {
	margin-bottom: 8px !important;
}

.u-mb-md {
	margin-bottom: 16px !important;
}

.u-mb-lg {
	margin-bottom: 32px !important;
}

.u-mb-xl {
	margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
	max-width: 27em !important;
}

.u-max-width-sm {
	max-width: 39em !important;
}

.u-max-width-md {
	max-width: 50em !important;
}

.u-max-width-lg {
	max-width: 85em !important;
}

.u-max-width-none {
	max-width: none !important;
}

/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
	text-align: center;
}

.u-align-center {
	margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
	font-size: 14px;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		/* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: ' (' attr(href) ')';
	}
	abbr[title]:after {
		content: ' (' attr(title) ')';
	}
	/*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
	a[href^='#']:after,
	a[href^='javascript:']:after {
		content: '';
	}
	pre {
		white-space: pre-wrap !important;
	}
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	/*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
	thead {
		display: table-header-group;
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h2,
	h3 {
		page-break-after: avoid;
	}
}
